<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="../src/styles/reset.scss" >
    <title>my-profile</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but my-profile doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
<style>
  *{
	box-sizing: border-box;
}
html{
   position: relative;
}
body{
  background-color:#f89a81;
  margin: 0;
 
}
</style>