<template>
  <div class="home">
    <HelloWorld>
      <div class="home-image">
        <img src="../images/io.jpg"> <h1>Camila Urquizo</h1>
      </div>
    </HelloWorld>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
export default {
  name: "home",
  components: {
    HelloWorld
  }
};
</script>
