<template>
  <div class="hello">
    <transition :name="transitionName.body" appear>
      <div class="container">
      <div class="home-image">
        <img src="../images/io.jpg"> <h1>Camila Urquizo</h1>
      </div>
      <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';
export default {
  name: "HelloWorld",
  computed:{
    ...mapState({
      transitionName:(state)=> state.app.transitionName
    })
  },
  methods:{
    ...mapActions({
      setTransitionName:'app/setTransitionName'
    })
  },
    created(){
      this.setTransitionName({'body':'slide-back'})
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">

.container{
  width: 100%;
    display: flex;
  flex-wrap: wrap;
}
.home-image{
  margin-left: 150px;
  margin-top: 50px;
  width: 400px;
  
  img{
    border-radius: 50%;
    width: 100%;
  }
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
