<template>
  <div id="app">
     <Header></Header>
     
     
    <router-view />
    <Footer></Footer>
  </div>
</template>
<script>
import Header from "@/layouts/Header.vue";
import Footer from "@/layouts/Footer.vue";
export default {
  components:{
    Header,
    Footer
  }
};
</script>
<style lang="scss">
.slide-next-enter-active,
  .slide-next-leave-active,
  .slide-back-enter-active,
  .slide-back-leave-active,
  .slide-down-enter-active,
  .slide-down-leave-active,
  .slide-up-enter-active,
  .slide-up-leave-active
   { transition: all .5s ease }
  .slide-next-enter {
    transform: translateX(100%);
  }
  .slide-next-enter-to {
    transform: translateX(0);
  }
  .slide-back-enter {
    transform: translateX(-100%);
  }
  .slide-back-enter-to {
    transform: translateX(0);
  }

  .slide-down-enter {
    transform: translateY(-100px);
    opacity: .25;
  }
  .slide-down-enter-to {
    transform: translateY(0);
    opacity: 1;
  }

  .slide-up-enter {
    transform: translateY(100px);
    opacity: .25;
  }
  .slide-up-enter-to {
    transform: translateY(0);
    opacity: 1;
  }
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
  



</style>
