<template>
  <div id="footer">
    <p>Camila.Urquizo</p>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="scss" scoped>
#footer {
  padding: 10px;
  background-color: #2d2e37;
  text-align: left;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
P{
    color: antiquewhite;
}
</style>
