<template>
  <div id="header">
    <div class="nav">
      <router-link to="/">Home</router-link> 
      <router-link to="/about">About</router-link> 
      <router-link to="/hobbies">Hobbies</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang="scss" scoped>
.nav {
  padding: 30px;
  background-color: #f89a81;
  text-align: right;

  a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 80px;
    color: #fcc8bc;

    &.router-link-exact-active {
      color: #fff6f3;
    }
  }
}
</style>
